// .feature-section {
//     padding-top: 94px;
//     padding-bottom: 94px;
//   }
//   .features {
//     display: flex;
//   }
//   .features__list {
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.71;
//     color: var(--primari-text-color);
//   }

//   .features__item {
//     max-width: 270px;
//   }
//   .features-right{
//    &:not(:last-child) {
//       margin-right: 30px;
//     }
//     }

//   .features__icon {
//     width: 270px;
//     height: 120px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background-color: var(--primari-team-color);
//     margin-bottom: 30px;
//   }
  


//   .features__tittle {
//     margin-bottom: 10px;
//     font-family: Roboto;
//     font-style: normal;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: var(--primari-tittle-color);
//   }

.feature-section{
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px){
      padding-top: 94px;
      padding-bottom: 94px;
    }
}
  
.features{
margin-bottom: -30px;
@media screen and ( min-width: 768px){
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  @media screen and ( min-width: 1200px){
    margin-bottom: 0;
  }
  
}

}
   .features__item{
     margin-bottom: 30px;
     @media screen and ( min-width: 768px){
       width: 354px;
       margin-left: 30px;
     }
     @media screen and ( min-width: 1200px){
       width: 270px;
       margin-bottom: 0;
     }
   }
     .features__icon {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primari-team-color);
    margin-bottom: 30px;
  }

    .features__tittle {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primari-tittle-color);
    text-align: center;
    @media screen and ( min-width: 768px){
      text-align: left;
    }
  }
.features__list {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primari-text-color);
    
  }

  