.products {
    display: flex;
    
  }
  
  .product-section {
  display: none;
  padding-bottom: 94px;
  @media screen and ( min-width: 1200px){
      display: flex;
    }
  }

  .product__tittle {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primari-tittle-color);
  }
  
  .products__list {
    position: relative;
  }
  .products-right{
  &:not(:last-child) {
        margin-right: 30px;
      }
  }
  .products__text {
    position: absolute;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;
  }
  .products__submenu {
    position: relative;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: white;
    padding: 27px 82px;
  }

  /* portfolio */
  .cards-section {
  padding-top: 94px;
  padding-bottom: 94px;
  @media screen and ( min-width: 480px){
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and ( min-width: 768px){
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and ( min-width: 1200px){
    padding-top: 94px;
  padding-bottom: 94px;
  }
}
  
  .product-section-portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and ( min-width: 480px){
      padding-bottom: 60px;
    }
  }
  .product-item {
    position: relative;
    display: flex;
    flex-direction: column;
    // flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    transition-property: bacground-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      }
      &:last-child{
        margin-bottom: 0;
      }
      @media screen and ( min-width: 480px){
        display: flex;
        flex-wrap: wrap;
        flex-basis: auto;
      }
      @media screen and ( min-width: 768px){
      width:calc(100% / 2 - 30px);
      width: 354px;
      }
      @media screen and ( min-width: 1200px){
        flex-basis: calc(100% / 3 - 30px);
        
      }
  }
  
  .product-item{
  &:hover .submenu {
        display: block;
        color: white;
        transform: translateY(0%);
      }
  }

  
  .product-tittle-portfolio {
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: var(--primari-tittle-color);
  }
  .product-list-portfolio {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: var(--primari-text-color);
  }
  .product-portfolio {
    padding: 20px 24px;
    flex-grow: 1;
  }
  .submenu {
    position: absolute;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    left: 0;
    top: 0;
    transform: translateY(100%);
    transition: transform 250ms ease;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

  }
  .submenu-wrapper {
    position: relative;
    overflow: hidden;
    @media screen and ( min-width: 480px){
      width: 100%;
    }
  }

  
  .submenu-link {
    position: relative;
    color: white;
    font-weight: 400px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  
  