// .team {
//     padding-top: 94px;
//     padding-bottom: 94px;
//     background-color: #f5f4fa;
    
//   }




  
//   .team__list {
//     background-color: #fff;
    




  .social-right:not(:last-child){
    margin-right: 10px;
  }
  
.team{
  padding-top: 60px;
  padding-bottom: 60px; 
  background-color: var(--primari-team-color);
}
.team-ul{
  
   @media screen and ( min-width: 768px){
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  @media screen and ( min-width: 1200px){
    margin-bottom: 0;
  }
}
}

  .class {
    padding-top: 30px;
    padding-bottom: 30px;
    
    }
    .team__list {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
      margin-bottom: 30px;
      @media screen and ( min-width: 768px){
      width: 354px;
      background-color: #fff;
      margin-left: 30px;
      margin-bottom: 30px;
        }
      @media screen and ( min-width: 1200px){
        width: 270px;
      }
    }
    .team__tittle{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primari-tittle-color);
  }
    .team__name{
    text-align: center;
    color: var(--primari-tittle-color);
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.18;
  }
  .team__submenu {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primari-text-color);
  }
    .social{
    display: flex;
    margin-top: 16px;
    justify-content: center;
  }
     .list__social {
    width: 44px;
    height: 44px;
  }
  .team__link{
    color: var(--icon-color);
    border-radius: 50%;
  &:hover .team__icon,
  &:focus .team__icon {
    color: #ffffff;
  }
}
   .team__icon {
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    width: 20px;
    height: 20px;
    fill: currentColor;
  }