.header-section {
    border-color: var(--primari-white-color);
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .header-section-portfolio {
    border: 1px solid #ececec;
    padding-top: 24px;
    padding-bottom: 25px;
  }

  .header__container {
    display: flex;
  }