.header-section {
    
    padding-top: 24px;
    padding-bottom: 25px;
    
    
    @media screen and ( min-width: 768px){
      padding-top: 21px;
      padding-bottom: 21px;
      border-bottom: 1px solid  #C4C4C4;
    }
     
  }

  .header-section-portfolio {
   
    padding-top: 24px;
    padding-bottom: 25px;
  }

  .header__container {
    display: flex;
  }