.logo {
  color: var(--primari-accent-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__style--black {
  color: var(--primari-tittle-color);
}
.logo__style--white {
  color: white;
}

.header-logo {
  margin-right: 93px;
  @media screen and ( max-width: 768px){
    margin-right: 88px;
  }
  
}
