.section {
    padding-top: 47px;
    padding-bottom: 47px;
  }
  
  
  .cards-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .product-section {
    display: flex;
    padding-bottom: 94px;
  }