:root {
    --primari-background-color: #e5e5e5;
    --primari-accent-color: #2196f3;
    --primari-tittle-color: #212121;
    --primari-text-color: #757575;
    --primari-white-color: #ffffff;
    --primari-hero-color: #2f303a;
    --primari-team-color: #f5f4fa;
    --hover-btn-color: #188ce8;
    --icon-color: #afb1b8;
  }